<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create Task</title>
  </head>
  <body>
    <%=form_tag user_tasks_path(@user) , method: "post" do%>
    <%= label :task, :title, 'Title'%>
    <%= text_field :task, 'title'%>

    <%= label :task, :target_date, 'Target Date' %>
    <%= date_select :task, :target_date%>

    <%= hidden_field :task, :create_date, value: Time.now%>

    <%= label :task, :measure, 'Measurement'%>
    <%= select :task, :measure, ['Pages','Words']%>

    <%= label :task, :target_value, "Target Value"%>
    <%= text_field :task, :target_value%>

    <%= label :task, :email, 'Email'%>
    <%= select :task, :email, ['Yes', 'No']%>

    <%= label :task, :desc, 'Description'%>
    <%= text_area :task, :desc%>

    <%= submit_tag 'Create'%>
    <%end%>
  </body>
</html>
