<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= @task.title%></title>
  </head>
  <body>
<div>
<div class="navbar">
<div class="navbar-header">
<a class="navbar-brand" href="#">University Writing tracker</a>
</div>
<div class="collapse navbar-collapse">
<ul class="nav navbar-nav navbar-right">
<li><a href="#">About</a></li>
<li><a href="#">Login</a></li>
<li><a href="#">Logout</a></li>
</ul>
</div>
</div>
    <div class="row">
      <div class="col-md-12 text-center">
        <h2><%= @task.title%></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-center">
        <%= label :task, :create_date, "Create Date: "%>
        <span><%=  @task.create_date.strftime("%d - %m - %Y")%></span>
      </div>
      <div class="col-md-4 text-center">
        <%= label :task, :create_date, "Time Remaining: "%>
        <span><%= if (@task.target_date - Time.now) < 0; 0; else; ((@task.target_date - Time.now)/86400).ceil ;end  %> Days</span>
      </div>
      <div class="col-md-4 text-center">
        <%= label :task, :target_date, "Target Date: "%>
        <span><%=  @task.target_date.strftime("%d - %m - %Y")%></span>
      </div>
    </div>
    <br><br>
<div class="container">
<div class="row">
<div class="col-sm-3 col-md-2">
<div class="progress" data-percentage="<%=  if @percent>100; 100; else; @percent.to_i; end; %>">
<span class="progress-left">
<span class="progress-bar"></span>
</span>
<span class="progress-right">
<span class="progress-bar"></span>
</span>
<div class="progress-value">
<div>
<%=  if @percent>100; 100; else; @percent; end; %>%<br>
<span>completed</span>
</div>
</div>
</div>
</div>
<div class="col-md-1"></div>
<div class="col-md-7 float-center" style="margin-top:5%">
          <%= form_tag update_user_task_path(@user,@task), method: "post" do%>
          <%= label :task, :current_value, "Update Progress: "%>
          <%= text_field :task, :current_value, value: @task.current_value%>
          <%= %>
          <%= submit_tag "Update" , {:class=> 'btn btn-info'}%>
          <%end%>
        </div>
        <div class="col-md-1"></div>
      </div>

      <br><br><br><br><br>
      <div class="row">
        <div class="col-md-4 text-center">
          <%= link_to "Back" , users_path , {:class=> 'btn btn-info'}%>
        </div>
        <div class="col-md-4 text-center">
          <%= link_to "Edit", edit_user_task_path(@user,@task) , {:class=>'btn btn-warning'}%>
        </div>
        <div class="col-md-4 text-center">
          <%= link_to "Delete", user_task_path(@user,@task), {:class=>'btn btn-danger', :method=> :delete }%>
        </div>
      </div>
    </div>
  </body>
</html>
