
<div class="navbar navbar-default">
  <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">University Writing tracker</a>
      </div>
    </div>
</div>
<div class="col-md-4">
  <div class="row text-center">
    <h4> <%= @user.first_name%> &nbsp; <%= @user.last_name%> </h4>
  </div>
</div>
<div style="border-left:black;"></div>
<div class="col-md-7">
  <div class="row float-right">
    <%= link_to "New Task" , new_user_task_path(@user), {:id=>"new_task", :class=>"btn btn-info ", :style=> 'float:right;'} %>
  </div>
  <br>
  <% @user_tasks.each do |task|%>
    <div class="row" style="matgin-top:8px;">
          <div class="well">
            <%= link_to task.title , user_task_path(@user,task), {:id=>"task",:method=> "get"}%>
            <%= link_to "Delete", user_task_path(@user,task) , {:class=> "btn btn-danger", :method=> :delete, :style=> 'float:right;'}%>
            <span class="btn btn-info" style="float:right;margin-right:10px;"> <%= (task.current_value*100)/task.target_value%>% Completed</span>
          </div>
    </div>
  <%end%>
</div>
<div class="col-md-1"></div>
